.link {
    cursor: pointer;
}

.burger {
    width: 20px;
    height: 16px;
    border: none;
    background-color: inherit;
    color: var(--text-color);
    display: none;
}

@media screen and (max-width: 640px) {
    .burger {
        display: flex;
    }

    .link {
        display: none;
    }
}
