.container {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100px;
    border: none;
    padding: 16px;
    cursor: pointer;
    color: white;
    background-color: crimson;
}

.button:disabled {
    background-color: var(--soft-text-color);
    cursor: not-allowed;
}
