.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imageContainer {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}

.image {
  border-radius: 50%;
  border: 3px solid var(--soft-text-color);
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: var(--text-color);
  width: max-content;
  text-transform: capitalize;
}

.category.career {
  background-color: #ef476f;
}

.category.tutorials {
  background-color: #8338ec;
}

.category.pm {
  background-color: #06d6a0;
}

.category.design {
  background-color: #118ab2;
}

.category.tools {
  background-color: #073b4c;
}

.category.tech {
  background-color: #fb8500;
}

.postTitle {
  font-weight: 500;
  font-size: 18px;
  color: var(--soft-text-color);
}

.detail {
  font-size: 12px;
}

.date {
  color: var(--soft-text-color);
}
