.container {
  flex: 2;
  margin-top: 60px;
}

.title {
  font-size: 28px;
}

.subtitle {
  color: var(--soft-text-color);
  font-size: 16px;
  font-weight: 400;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 35px 0 40px 0;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: var(--bg-color);
  width: max-content;
  text-transform: capitalize;
}

.category.career {
  background-color: #ef476f;
}

.category.tutorials {
  background-color: #8338ec;
}

.category.pm {
  background-color: #06d6a0;
}

.category.design {
  background-color: #118ab2;
}

.category.tools {
  background-color: #073b4c;
}

.category.tech {
  background-color: #fb8500;
}

.categoryItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 30px 0;
  gap: 10px;
}

.category:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
